<app-navigation-bar></app-navigation-bar>
<div class="container-fluid" style="border: 10px solid #ffffff;">
	<h2>All Jobs</h2>
	<ng-container *ngIf="errorMsg!== ''; else elseBlock">
	<div class="alert alert-danger">{{ errorMsg }}</div>
	</ng-container>
	<ng-template #elseBlock>
    <div class="filter-header">
		<mat-form-field> <input matInput
			(keyup)="applyFilter($event.target.value)"
			placeholder="Enter Filter Term here to Filter Jobs"> </mat-form-field>
	</div>
	<div class="table-container mat-elevation-z8">
		<mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8" > 
		
		<ng-container matColumnDef="id"> 
		<mat-header-cell *matHeaderCellDef mat-sort-header> Job ID </mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
		</ng-container> 

        <ng-container matColumnDef="logInfo"> 
		<mat-header-cell *matHeaderCellDef> Log Information </mat-header-cell>
		<mat-cell *matCellDef="let element"><a routerLink="/jobEvents/{{element.id}}">
		<span class="glyphicon glyphicon-tasks"></span></a></mat-cell>
		</ng-container>
		
		<ng-container matColumnDef="sourceConfigId"> 
		<mat-header-cell *matHeaderCellDef mat-sort-header> Source Config ID </mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.sourceConfigId}} </mat-cell>
		</ng-container> 
		
		<ng-container matColumnDef="destinationId"> 
		<mat-header-cell *matHeaderCellDef mat-sort-header> Destination ID </mat-header-cell> 
		<mat-cell *matCellDef="let element"> {{element.destinationId}} </mat-cell>
		</ng-container> 
		
		<ng-container matColumnDef="username"> 
		<mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
		</ng-container> 
		
		<ng-container matColumnDef="status">
		<mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
		</ng-container> 
		
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> 
		<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
		</mat-table>

 		<mat-paginator [pageSize]="5" [showFirstLastButtons]="true"></mat-paginator>
	</div>

	</ng-template>
</div>

