<app-navigation-bar></app-navigation-bar>
<div class="container-fluid" style="border: 5px solid #ffffff;">
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div class="col-8">
				<div style="text-align: center">
					<img class="img-rounded" src="assets/images/logo.png"
						height="100px">
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>
	<hr>
	<div class="container">Welcome to the Eureka! Clinical admin
		website. If you have admin permissions, you will be able to login and
		monitor and manage users and usage of the Eureka! Clinical site.</div>
</div>

