<app-navigation-bar></app-navigation-bar>
<div class="container-fluid" style="border: 10px solid #ffffff;">
	<ng-container *ngIf="errorMsg!== ''; else elseBlock">
	<div class="alert alert-danger">{{ errorMsg }}</div>
	</ng-container>
	<ng-template #elseBlock>
	<h2>User Account: {{ model.username }}</h2>
	<form #editForm="ngForm" novalidate (ngSubmit)="onSubmit(editForm)">
		<div class="container" align="center">
			<div class="row form-group">
				<div class="col" align="left">
					<label for="firstName" 
					[class.ng-invalid]="firstName.invalid && (firstName.dirty || firstName.touched)">First Name</label> 
					<input type="text" class="form-control" id="firstName" required
						[(ngModel)]="model.firstName" [pattern]="namePattern"
						#firstName="ngModel" name="firstName" aria-describedby="helpBlock">
				</div>
				<div
					*ngIf="firstName.errors && editForm.submitted && !isValidFormSubmitted"
					[ngClass]="'error'">
					<div *ngIf="firstName.errors.required || firstName.errors.pattern" align="left">
					<span id="helpBlock" class="help-block">
					<b>You must include a valid first name.</b></span>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col" align="left">
					<label for="lastName" 
					[class.ng-invalid]="lastName.invalid && (lastName.dirty || lastName.touched)">Last Name</label> 
					<input type="text" class="form-control" id="lastName" required
						[(ngModel)]="model.lastName" [pattern]="namePattern"
						#lastName="ngModel" name="lastName" aria-describedby="helpBlock">
				</div>
				<div
					*ngIf="lastName.errors && editForm.submitted && !isValidFormSubmitted"
					[ngClass]="'error'">
					<div *ngIf="lastName.errors.required || lastName.errors.pattern" align="left">
					<span id="helpBlock" class="help-block">
					<b>You must include a last name.</b></span>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col" align="left">
					<label for="username" 
					[class.ng-invalid]="username.invalid && (username.dirty || username.touched)">Username</label> 
					<input type="text" class="form-control" id="username" required
						[(ngModel)]="model.username" [pattern]="usernamePattern"
						#username="ngModel" name="username" disabled>
				</div>
				<!-- div
					*ngIf="username.errors && editForm.submitted && !isValidFormSubmitted"
					[ngClass]="'error'">
					<div *ngIf="username.errors.required || username.errors.pattern" align="left">
					<span id="helpBlock" class="help-block">
					<b>You must include a username.</b></span>
					</div>
				</div-->
			</div>
			
			<div class="row form-group">
				<div class="col" align="left">
					<label for="organization">Organization</label> <input type="text"
						class="form-control" id="organization"
						[(ngModel)]="model.organization" #organization="ngModel"
						name="organization">
				</div>
			</div>
			<div class="row form-group">
				<div class="col" align="left">
					<label for="title">Title</label> <input type="text"
						class="form-control" id="title" [(ngModel)]="model.title"
						name="title">
				</div>
			</div>
			<div class="row form-group">
				<div class="col" align="left">
					<label for="department">Department</label> <input type="text"
						class="form-control" id="department"
						[(ngModel)]="model.department" #department="ngModel"
						name="department">
				</div>
			</div>
			<div class="row form-group">
				<div class="col" align="left">
					<label for="email" 
					[class.ng-invalid]="email.invalid && (email.dirty || email.touched)">Email</label> 
					<input type="email" class="form-control" id="email" required
						[(ngModel)]="model.email"
						#email="ngModel" name="email" email aria-describedby="helpBlock">
				</div>
				<div
					*ngIf="email.errors?.email && editForm.submitted && !isValidFormSubmitted"
					[ngClass]="'error'">
					<div *ngIf="email.errors.required || email.errors?.email" align="left">
					<span id="helpBlock" class="help-block">
					<b>You must include a valid email.</b></span>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col" align="left">
					<label for="roles">Roles</label>
					<ul class="checkbox-grid">
						<ng-container *ngFor="let user of userRoles">
						<li><input type="checkbox" name="userRoles"
							value="{{user.id}}" [checked]="user.isChecked"
							(change)="changeCheckbox(user.id)" /> <label for="{{user.name}}">
								{{user.name | titlecase }}</label></li>
						</ng-container>
					</ul>
				</div>
			</div>
			<div class="row form-group">
				<div class="col" align="left">
					<label for="active">Activation Status</label> <input type="text"
						class="form-control" id="activated" [(ngModel)]="userActivated"
						name="activated" disabled> <br />
					<ng-container *ngIf="model.active && !changedStatus; else first">
					<button class="btn btn-primary" id="active" name="active"
						(click)="changeActive(content)">Inactivate User</button>
					</ng-container>
					<ng-template #first> <ng-container
						*ngIf="!changedStatus">
					<button class="btn btn-primary" id="active" name="active"
						(click)="changeActive(content)">Activate User</button>
					</ng-container> </ng-template>
					<ng-template #content let-c="close" let-d="dismiss">
					<div class="modal-header">
						<h4 class="modal-title">Attention</h4>
						<button type="button" class="close" aria-label="Close"
							(click)="d('Cross click')">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Please Click on the Save Button to Save Your Changes</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-dark"
							(click)="c('Close click')">Close</button>
					</div>
					</ng-template>
				</div>
			</div>
			<div class="row form-group">
				<div class="col" align="left">
					<label for="verified">Verification Status</label> <input
						type="text" class="form-control" id="verified"
						[(ngModel)]="userVerified" name="verified" disabled>
				</div>
			</div>
			<div class="row">
				<div class="col" align="left">
					<p></p>
					<button class="btn btn-primary" (click)="restoreForm()">Cancel</button>
					<button class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</form>
	</ng-template>
</div>
