# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/target
/tmp
/temp
/out-tsc
/src/tmp
/src/temp

#log files
*.log
*.log.*

# dependencies
/node_modules
config.dev.json
config.prod.json
env.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db
/target/
/bin/
