<ng-container *ngIf="errorMsg!== ''; else elseBlock">
<div class="alert alert-danger">{{ errorMsg }}</div>
</ng-container>
<ng-template #elseBlock>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Admin</a>
		</div>
		<div class="col text-right">
			<ng-container *ngIf="isLoggedOut || isNewUser; else elseBlock"><!-- url -->
			<a href="{{adminWebappContextPath}}/protected/login?webclient={{webClientUrl}}/welcome/loggedIn"
				class="btn btn-link btn-md"> <i class="fa fa-sign-in"></i>&nbsp;&nbsp;Login
			</a> <a class="btn btn-link btn-md" routerLink="/help"> <i
				class="fa fa-question-circle-o"></i>Help &nbsp;&nbsp;
			</a> </ng-container>
			<ng-template #elseBlock>
			<div ngbDropdown class="d-inline-block">
				<a class="btn btn-link btn-md" routerLink="/adminview"> <i
					class="fa fa-wrench"></i> User Accounts&nbsp;&nbsp;
				</a> <a href="http://www.eurekaclinical.org/docs/analytics/" 
					class="btn btn-link btn-md"> <i
					class="fa fa-question-circle-o"></i>Help&nbsp;&nbsp;
				</a>
				<button class="btn navbar-btn" id="adminLinks" ngbDropdownToggle>
					<i class="fa fa-user"></i>&nbsp;&nbsp; {{ username }}&nbsp;&nbsp;<span
						class="caret"></span>
				</button>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div ngbDropdownMenu aria-labelledby="adminLinks">
					<button class="dropdown-item btn-link btn-md">
						<a routerLink="/editUser/me/edit/{{ userId }}"> <i
							class="fa fa-user"></i> &nbsp;&nbsp;User Account
						</a>
					</button>
					<br> <br>
					<button class="dropdown-item btn-link btn-md">
						<a href="{{adminWebappContextPath}}/logout"> <i class="fa fa-sign-out"></i>
							&nbsp;&nbsp;Logout
						</a>
					</button>
				</div>
			</div>
			</ng-template>
		</div>
	</div>
</nav>
</ng-template>