<!-- app-navigation-bar></app-navigation-bar-->
<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value, registerForm.valid)" novalidate>
	<div class="container" align="center">
		<div class="row">
			<div class="col-xs-4" align="right">
				<label for="firstName">First Name:</label>
			</div>
			<div class="col-xs-4" align="left">
				<input type="text" class="form-control" id="firstname" required
					[(ngModel)]="model.firstName" #firstName="ngModel" name="firstName">
				<small [hidden]="firstName.valid || (firstName.pristine && !registerForm.submitted)">
            		Firstname is required.
        		</small>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4" align="right">
				<label for="lastName">Last Name:</label>
			</div>
			<div class="col-xs-4" align="left">
				<input type="text" class="form-control" id="lastName" required
					[(ngModel)]="model.lastName" #lastName="ngModel" name="lastName">
				<small [hidden]="lastName.valid || (lastName.pristine && !registerForm.submitted)">
            		Lastname is required.
        		</small>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4" align="right">
				<label for="fullName">Full Name:</label>
			</div>
			<div class="col-xs-4" align="left">
				<input type="text" class="form-control" id="fullName" 
					[(ngModel)]="model.fullName" name="fullName">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4" align="right">
				<label for="title">Title:</label>
			</div>
			<div class="col-xs-4" align="left">
				<input type="text" class="form-control" id="title" 
					[(ngModel)]="model.title" name="title">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4" align="right">
				<label for="department">Department:</label>
			</div>
			<div class="col-xs-4" align="left">
				<input type="text" class="form-control" id="department" required
					[(ngModel)]="model.department" #department="ngModel" name="department">
				<small [hidden]="department.valid || (department.pristine && !registerForm.submitted)">
            		Department is required.
        		</small>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4" align="right">
				<label for="organization">Organization:</label>
			</div>
			<div class="col-xs-4" align="left">
				<input type="text" class="form-control" id="organization" required
					[(ngModel)]="model.organization" #organization="ngModel" name="organization">
				<small [hidden]="organization.valid || (organization.pristine && !registerForm.submitted)">
            		Organization is required.
        		</small>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4" align="right">
				<label for="email">Email:</label>
			</div>
			<div class="col-xs-4" align="left">
				<input type="email" class="form-control" id="email" required
					[(ngModel)]="model.email" #email="ngModel" name="email">
				<small [hidden]="email.valid || (email.pristine && !registerForm.submitted)">
            		Email is required and format should be <i>youremailaddress@somecompany.com</i>
        		</small>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4" align="right">
				<label for="email">Verify Email:</label>
			</div>
			<div class="col-xs-4" align="left">
				<input type="verifyEmail" class="form-control" id="verifyEmail" required
					[(ngModel)]="model.verifyEmail" #verifyEmail="ngModel" name="verifyEmail">
				<small [hidden]="verifyEmail.valid || (verifyEmail.pristine && !registerForm.submitted)">
            		Email is required and format should be <i>youremailaddress@somecompany.com</i>
        		</small>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4" align="right">
				<p></p>
			</div>
			<div class="col-xs-4" align="left">
				<button class="btn btn-primary">Clear Form</button>
				<button class="btn btn-info">Submit</button>
			</div>
		</div>
	</div>