<app-navigation-bar></app-navigation-bar>
<app-header></app-header>
<div class="container" align="center">
	<div class="row">
		<div class="col-xs-4" align="right">
			<p>Enter Username:</p>
		</div>
		<div class="col-xs-4" align="left">
			<input type="text" name="admin_username">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4" align="right">
			<p>Enter Password:</p>
		</div>
		<div class="col-xs-4" align="left">
			<input type="password" name="admin_password">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4" align="right">
			<p></p>
		</div>
		<div class="col-xs-4" align="left">		
			<button class="btn btn-primary">Cancel</button>
			<button class="btn btn-info">Submit</button>
		</div>
	</div>
		<div class="row">
		<div class="col-xs-4" >
			<p>If you do not have an account, sign up to register <a href="#">here</a>.</p>
		</div>
		<div class="col-xs-4">
			<p>Forgot password? Click <a href="#">here</a> to reset password.</p>
		</div>
	</div>
</div>
