<app-navigation-bar></app-navigation-bar>
<div class="container-fluid" style="border: 10px solid #ffffff;">
	<ng-container *ngIf="errorMsg!== ''; else elseBlock">
	<div class="alert alert-danger">{{ errorMsg }}</div>
	</ng-container>
	<ng-template #elseBlock>
	<div class="row align-items-center">
		<div class="col-sm-6">
			<h2>
				User Accounts &nbsp;&nbsp; <a ui-sref="create user"
					routerLink="/createUser" class="btn btn-primary"><span
					class="glyphicon glyphicon-plus-sign"></span> Create New User </a>
			</h2>
		</div>
		<div class="col-sm-6">
			<div class="filter-header">
				<mat-form-field> <input matInput
					(keyup)="applyFilter($event.target.value)"
					placeholder="Enter Filter Term Here to Filter Users"> </mat-form-field>
			</div>
		</div>
	</div>

	<div class="table-container mat-elevation-z8">
		<div *xs>
			<mat-table #table [dataSource]="dataSource" matSort
				class="mat-elevation-z8"> <ng-container
				matColumnDef="action"> <mat-header-cell
				*matHeaderCellDef [ngClass]="'customSmallClass'">Action</mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="'customSmallClass'">
			<a routerLink="/editUser/edit/{{element.id}}"> <span
				class="glyphicon glyphicon-pencil"></span></a> </mat-cell> </ng-container> <ng-container
				matColumnDef="username"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Username </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.username}} </mat-cell> </ng-container> <mat-header-row
				*matHeaderRowDef="displayedXsColumns"></mat-header-row> <mat-row
				*matRowDef="let row; columns: displayedXsColumns"></mat-row> </mat-table>

			<mat-paginator #pagination [pageSizeOptions]="[5, 10]"
				[showFirstLastButtons]="true"></mat-paginator>

			<br />
		</div>
		<div *sm>
			<mat-table #table [dataSource]="dataSource" matSort> <ng-container
				matColumnDef="action"> <mat-header-cell
				*matHeaderCellDef [ngClass]="'customSmallClass'">Action</mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="'customSmallClass'">
			<a routerLink="/editUser/edit/{{element.id}}"> <span
				class="glyphicon glyphicon-pencil"></span></a> </mat-cell> </ng-container> <ng-container
				matColumnDef="username"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Username </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.username}} </mat-cell> </ng-container> <ng-container
				matColumnDef="fullName"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Full Name </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.fullName}} </mat-cell> </ng-container> <mat-header-row
				*matHeaderRowDef="displayedColumns"></mat-header-row> <mat-row
				*matRowDef="let row; columns: displayedColumns"></mat-row> </mat-table>

			<mat-paginator #pagination [pageSizeOptions]="[5, 10]"
				[showFirstLastButtons]="true"></mat-paginator>

			<br />
		</div>
		<div *md>
			<mat-table #table [dataSource]="dataSource" matSort> <ng-container
				matColumnDef="action"> <mat-header-cell
				*matHeaderCellDef [ngClass]="'customSmallClass'">Action</mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="'customSmallClass'">
			<a routerLink="/editUser/edit/{{element.id}}"> <span
				class="glyphicon glyphicon-pencil"></span></a> </mat-cell> </ng-container> <ng-container
				matColumnDef="username"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Username </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.username}} </mat-cell> </ng-container> <ng-container
				matColumnDef="fullName"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Full Name </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.fullName}} </mat-cell> </ng-container> <ng-container
				matColumnDef="lastLogin"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Last Login </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.lastLogin}} </mat-cell> </ng-container> <ng-container
				matColumnDef="roles"> <mat-header-cell
				*matHeaderCellDef [ngClass]="'customLongClass'">Roles
			</mat-header-cell> <mat-cell *matCellDef="let element" [ngClass]="'customLongClass'">
			{{element.roles | titlecase}} </mat-cell> </ng-container> <mat-header-row
				*matHeaderRowDef="displayedMdColumns"></mat-header-row> <mat-row
				*matRowDef="let row; columns: displayedMdColumns"></mat-row> </mat-table>

			<mat-paginator #pagination [pageSizeOptions]="[5, 10]"
				[showFirstLastButtons]="true"></mat-paginator>

			<br />
		</div>
		<div *lg>
			<mat-table #table [dataSource]="dataSource" matSort> <ng-container
				matColumnDef="action"> <mat-header-cell
				*matHeaderCellDef [ngClass]="'customSmallClass'">Action</mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="'customSmallClass'">
			<a routerLink="/editUser/edit/{{element.id}}"> <span
				class="glyphicon glyphicon-pencil"></span></a> </mat-cell> </ng-container> <ng-container
				*ngIf="finalDisplayedCols.indexOf('username')>=0"> <ng-container
				matColumnDef="username"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Username </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.username}} </mat-cell> </ng-container> </ng-container> <ng-container
				*ngIf="finalDisplayedCols.indexOf('fullName')>=0"> <ng-container
				matColumnDef="fullName"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Full Name </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.fullName}} </mat-cell> </ng-container> </ng-container> <ng-container
				*ngIf="finalDisplayedCols.indexOf('lastLogin')>=0"> <ng-container
				matColumnDef="lastLogin"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Last Login </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.lastLogin}} </mat-cell> </ng-container> </ng-container> <ng-container
				*ngIf="finalDisplayedCols.indexOf('roles')>=0"> <ng-container
				matColumnDef="roles"> <mat-header-cell
				*matHeaderCellDef [ngClass]="'customLongClass'">Roles</mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="'customLongClass'">{{element.roles
			| titlecase }}</mat-cell> </ng-container> </ng-container> <ng-container
				*ngIf="finalDisplayedCols.indexOf('email')>=0"> <ng-container
				matColumnDef="email"> <mat-header-cell
				*matHeaderCellDef [ngClass]="'customXLongClass'">
			Email </mat-header-cell> <mat-cell *matCellDef="let element"
				[ngClass]="'customXLongClass'"> {{element.email}} </mat-cell> </ng-container> </ng-container> <ng-container
				*ngIf="finalDisplayedCols.indexOf('organization')>=0">
			<ng-container matColumnDef="organization"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Organization </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.organization}} </mat-cell> </ng-container> </ng-container> <ng-container
				*ngIf="finalDisplayedCols.indexOf('status')>=0"> <ng-container
				matColumnDef="status"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Status </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.status}} </mat-cell> </ng-container> </ng-container> <ng-container
				*ngIf="finalDisplayedCols.indexOf('title')>=0"> <ng-container
				matColumnDef="title"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Title </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.title}} </mat-cell> </ng-container> </ng-container> <ng-container
				*ngIf="finalDisplayedCols.indexOf('department')>=0">
			<ng-container matColumnDef="department"> <mat-header-cell
				*matHeaderCellDef mat-sort-header> Department </mat-header-cell> <mat-cell
				*matCellDef="let element"> {{element.department}} </mat-cell> </ng-container> </ng-container> <mat-header-row
				*matHeaderRowDef="finalDisplayedCols"></mat-header-row> <mat-row
				*matRowDef="let row; columns: finalDisplayedCols"></mat-row> </mat-table>
			<mat-paginator #pagination [pageSizeOptions]="[5, 10]"
				[showFirstLastButtons]="true"></mat-paginator>

			<div class="form-group" style="border: 10px solid #ffffff;">
				<button class="btn btn-link" type="button" data-toggle="collapse"
					data-target="#collapseCheckBoxes" aria-expanded="false"
					aria-controls="collapseCheckBoxes">
					<i class="fa fa-plus-square"></i>&nbsp;Select Columns to Display
				</button>
				<div class="collapse" id="collapseCheckBoxes">
					<div class="card card-body">
						<ul class="checkbox-grid">
							<ng-container *ngFor="let col of selectCols">
							<li><input type="checkbox" name="selectCols"
								value="{{col.value}}" [(ngModel)]="col.checked" /> <label
								for="{{col.name}}">{{col.name}}</label></li>
							</ng-container>
						</ul>
						<button (click)="getselectedCols()">Display Only Selected
							Columns</button>
					</div>
				</div>
			</div>
			<br />

		</div>
	</div>
	</ng-template>
</div>